.manage-column {

  &.column-can_login {
    width: 55px;
  }

  &.column-id {
    width: 100px;
  }

}

.ut-toggle {
  border: 1px solid #dedede;
  padding: 2px;
  width: 32px;
  border-radius: 200px;
  background-color: #f0f0f0;
  transition: all 600ms ease-in-out;
  display: flex;
  justify-content: flex-end;

  &:hover {
    background-color: #f6f6f6;
    cursor: pointer;
  }

  &[data-active="1"] {
    background-color: #6397d7;
    justify-content: flex-start;
  }

  &[data-active="1"] .switch {
    border-color: #6397d7;
  }

  .switch {
    width: 14px;
    height: 14px;
    border: 1px solid #dedede;
    border-radius: 500px;
    background-color: #fff;
    transition: all 1s ease-in-out;
  }

}

.ut-readonly-toggle {
  border: 1px solid #dedede;
  padding: 2px;
  width: 32px;
  height: 16px;
  border-radius: 200px;
  background-color: #f0f0f0;
  transition: all 600ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: not-allowed;

  &[data-active="0"] {
    color: #a02a21;
  }

  &[data-active="1"] {
    border-color: #6498d7;
    background-color: #6498d7;
    color: #fff;
  }
}
